<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo.Frontend</title>
    <base href="~/" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="css/output.css" rel="stylesheet" />
</head>
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="flex justify-center items-center h-screen">
                <MudText Typo="Typo.h3" Class="**text-center**">
                    Sorry, there's nothing at this address.
                </MudText>
            </div>
            </LayoutView>
    </NotFound>
</Router>