@page "/dashboard"
@inject HttpClient Http
@using global::ToDo.Domain.Entities
@using Todo.Frontend.Models

<div class="login-wrapper">
    <MudCard Class="card" Style="max-width:1920px;width:95%">
        <MudCardContent>
                <MudCardContent>
                    <MudText Typo="Typo.h4" Align="Align.Center" Class="mb-4">Your ToDo task:</MudText>
                    @if (tasks != null)
                    {
                        <MudGrid>
                            <MudItem xs="6">
                                <MudCard Class="card" Style="max-width:850px;width:100%">
                                    <MudText Typo="Typo.h6" Align="Align.Center">To complete</MudText>
                                </MudCard>
                                    <MudExpansionPanels>
                                        @foreach (var item in tasks.Where(x => !x.IsCompleted))
                                        {
                                        @if (isEditing != item.Id)
                                        {
                                            <MudExpansionPanel Dense="false" Gutters="false" Class="card mt-3">
                                                <TitleContent>@($"{item.Title} | {item.CreatedAt}")</TitleContent>
                                                    <ChildContent>
                                                    <MudText Typo="Typo.body2" Align="Align.Center">
                                                        @item.Description
                                                    </MudText>
                                                    <div class="flex justify-end">
                                                        <MudButtonGroup Variant="Variant.Text">
                                                            <MudButton OnClick="() => CompleteTask(item.Id)">Complete</MudButton>
                                                            <MudButton Onclick="() => RemoveTask(item.Id)">Remove</MudButton>
                                                            <MudButton OnClick="() => Editing(item.Id)">Edit</MudButton>
                                                        </MudButtonGroup>
                                                    </div>
                                                    </ChildContent>
                                                </MudExpansionPanel>
                                        }
                                        else
                                        {
                                            <MudCard Class="card mt-3">
                                            <MudInput T="string" Class="mx-10" @bind-Value="item.Title" Text="@item.Title"></MudInput>
                                                <MudText Align="Align.Center">@item.CreatedAt</MudText>
                                            <MudInput T="string" Class="mx-10" @bind-Value="item.Description" Text="@item.Description"></MudInput>
                                                    <div class="flex justify-end">
                                                        <MudButtonGroup Variant="Variant.Text">
                                                            <MudButton OnClick="() => Save(item.Id)">Save</MudButton>
                                                        </MudButtonGroup>
                                                    </div>
                                            </MudCard>
                                        }
                                    }
                                </MudExpansionPanels>
                            </MudItem>
                        <MudItem xs="6">
                            <MudCard Class="card" Style="max-width:850px;width:100%">
                                <MudText Typo="Typo.h6" Align="Align.Center">Completed</MudText>
                            </MudCard>

                            <MudExpansionPanels>

                                @foreach (var item in tasks.Where(x => x.IsCompleted))
                                {
                                    <MudExpansionPanel Text="@($"{item.Title} | {item.CreatedAt}")" Dense="false" Gutters="false" Class="card mt-3">
                                        <MudText Typo="Typo.body1" Align="Align.Center">
                                            @item.CompletedAt
                                        </MudText>
                                        <MudText Typo="Typo.body2" Align="Align.Center">
                                            @item.Description
                                        </MudText>
                                        <div class="flex justify-end">
                                            <MudButtonGroup Variant="Variant.Text">
                                                <MudButton OnClick="() => UnCompleteTask(item.Id)">Uncomplete</MudButton>
                                                <MudButton Onclick="() => RemoveTask(item.Id)">Remove</MudButton>
                                            </MudButtonGroup>
                                        </div>
                                    </MudExpansionPanel>
                                }
                            </MudExpansionPanels>
                        </MudItem>
                        </MudGrid>
                      
                    }
                    else
                    {
                        <MudProgressLinear Color="Color.Primary" Indeterminate="true" />
                    }

                </MudCardContent>
        </MudCardContent>
    </MudCard>
</div>

@code {
    [Inject]
    public IJSRuntime JSRuntime { get; set; }
    [Inject]
    public NavigationManager NavManager { get; set; }
    private List<TodoItem> tasks;
    private string apiKey = "";
    int? isEditing = 0;

    protected override async Task OnInitializedAsync()
    {
        apiKey = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "authToken");
        if (string.IsNullOrEmpty(apiKey))
        {
            var refreshToken = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "refreshToken");

            if (!string.IsNullOrEmpty(refreshToken))
            {
                NavManager.NavigateTo("/login");
            }
        }
        //     var refreshCommand = new
        //     {
        //         authToken = apiKey,
        //         refreshToken = refreshToken,
        //     };
        //     var refreshRequest = new HttpRequestMessage(HttpMethod.Post, "/api/Auth/refresh")
        //         {
        //             Content = new StringContent(
        //             System.Text.Json.JsonSerializer.Serialize(refreshCommand),
        //             System.Text.Encoding.UTF8,
        //             "application/json")
        //         };
        //     var refreshResponse = await Http.SendAsync(refreshRequest);
        //     if (refreshResponse.IsSuccessStatusCode)
        //     {
        //         var jsonContent = await refreshResponse.Content.ReadAsStringAsync();
        //
        //         var refreshResult = System.Text.Json.JsonSerializer.Deserialize<LoginResponse>(jsonContent,
        //                       new System.Text.Json.JsonSerializerOptions { PropertyNameCaseInsensitive = true });
        //
        //         if (refreshResult != null && !string.IsNullOrEmpty(refreshResult.AccessToken) && !string.IsNullOrEmpty(refreshResult.RefreshToken))
        //         {
        //             await JSRuntime.InvokeVoidAsync("localStorage.setItem", "authToken", refreshResult.AccessToken);
        //             await JSRuntime.InvokeVoidAsync("localStorage.setItem", "refreshToken", refreshResult.RefreshToken);
        //         }
        //     }
        //     else
        //     {
        //         Console.WriteLine("Blad przy refreshToken");
        //     }
        var request = new HttpRequestMessage(HttpMethod.Get, "/api/TodoItems/me");
        request.Headers.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", apiKey);

        var response = await Http.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            var json = await response.Content.ReadAsStringAsync();
            tasks = System.Text.Json.JsonSerializer.Deserialize<List<TodoItem>>(json, new System.Text.Json.JsonSerializerOptions
            {
                PropertyNameCaseInsensitive = true
            });
        }
        else
        {
            // obsłuż błąd
            tasks = new List<TodoItem>();
        }
    }
    private async Task CompleteTask(int id)
    {
        var task = tasks.SingleOrDefault(item => item.Id == id);
        if (task == null) return;

        var updateCommand = new
        {
            id = task.Id,
            completedAt = DateTimeOffset.UtcNow,
            isCompleted = true
        };
        var response = await SendRequest(updateCommand, id);
        if (response)
        {
            var taskL = tasks.FirstOrDefault(x => x.Id == id);
            if (taskL != null) task.IsCompleted = true;

            StateHasChanged();
        }
        else
        {
            Console.WriteLine("BLAD");
        }

    }
    private async Task UnCompleteTask(int id)
    {
        var task = tasks.SingleOrDefault(item => item.Id == id);
        if (task == null) return;

        var updateCommand = new
        {
            id = task.Id,
            completedAt = (DateTimeOffset?)null,
            isCompleted = false
        };
        var response = await SendRequest(updateCommand, id);
        if (response)
        {
            var taskL = tasks.FirstOrDefault(x => x.Id == id);
            if (taskL != null) task.IsCompleted = false;

            StateHasChanged();
        }
        else
        {
            Console.WriteLine("BLAD");
        }
    }
    private async Task UpdateTask(int id)
    {
        var task = tasks.SingleOrDefault(item => item.Id == id);
        if (task == null) return;

        var updateCommand = new
        {
            id = task.Id,
            title = task.Title,
            description = task.Description,
        };
        var response = await SendRequest(updateCommand, id);
        if (response)
        {
            var taskL = tasks.FirstOrDefault(x => x.Id == id);
            if (taskL != null) task.IsCompleted = false;

            StateHasChanged();
        }
        else
        {
            Console.WriteLine("BLAD");
        }
    }
    private async Task RemoveTask(int id)
    {
        var task = tasks.SingleOrDefault(item => item.Id == id);
        if (task == null) return;

        var request = new HttpRequestMessage(HttpMethod.Delete, $"/api/TodoItems/{id}");

        request.Headers.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", apiKey);

        var response = await Http.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            var taskL = tasks.FirstOrDefault(x => x.Id == id);
            if (taskL != null) tasks.Remove(taskL);

            StateHasChanged();
        }
        else
        {
            Console.WriteLine("BLAD");
        }
    }
    private async Task<bool> SendRequest<TCommand>(TCommand updateCommand, int id)
    {
        var request = new HttpRequestMessage(HttpMethod.Put, $"/api/TodoItems/{id}")
        {
            Content = new StringContent(
            System.Text.Json.JsonSerializer.Serialize(updateCommand),
            System.Text.Encoding.UTF8,
            "application/json")
        };
        request.Headers.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", apiKey);

        var response = await Http.SendAsync(request);

        return response.IsSuccessStatusCode;
    }
    private void Editing(int id)
    {
        isEditing = id;
    }
    private async Task Save(int id)
    {
        var task = tasks.SingleOrDefault(item => item.Id == id);
        if (task == null) return;

        var updateCommand = new
        {
            id = task.Id,
            title = task.Title,
            description = task.Description,
        };
        var response = await SendRequest(updateCommand, id);
        if (response)
        {
            isEditing = 0;
            StateHasChanged();
        }
        else
        {
            Console.WriteLine("BLAD");
        }
    }
}